:root {
    --p-color: #bbc9e6;
    --s-color: #455564;
    --text-color: #061622;
    --padding-gallery: 15px;
    --accent-1: #e8efff;
    --shadow-1: rgba(10, 10, 10, 0.5);
    --button-bg-1: #a5d1a5;
    --button-bg-2: #c69a9a;
    --button-text-1: #004a00;
    --button-text-2: darkred;
}

* {
    padding: 0;
    margin: 0;
    color: var(--text-color)
}

body {
    margin: 0;
    background-color: var(--s-color);
}

h1 {
    padding: 10px;
    background-color: var(--p-color);
    text-align: center;
}

