#main {
    display: block;
}

#note-gallery {
    padding: var(--padding-gallery);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: var(--padding-gallery);
}

.note {
    background-color: var(--p-color);
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: var(--accent-1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px var(--shadow-1);
    transition: 0.3s;
}

@media (max-width: 768px) {
    .note {
        width: 35vw;
        flex-grow: 1;
        height: 35vh;
    }

    #note-gallery {
        gap: 5px;
        padding: 5px;
    }
}

.note:hover {
    transform: scale(1.05);
    background-color: #87a5e0;
}

.note:active {
    transform: scale(0.95);
    background-color: #d3d9e5;
}


.note-content {
    word-wrap: break-word;
    padding: 10px;
}

.note-delete-container {
    display: flex;
    justify-content: flex-end;
}

.note-delete-container input,
.note-delete-container button {
    --size: 20px;
    height: var(--size);
    width: var(--size);
}

#note-add-btn {
    background-color: var(--p-color);
    position: fixed;
    border-color: var(--accent-1);
    right: 20px;
    bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 60px;
    box-shadow: 0px 4px 6px var(--shadow-1);
    transition: 0.25;
    z-index: 100;
}

#note-add-btn:hover {
    transform: scale(1.05);
    background-color: #87a5e0;
}

#note-add-btn:active {
    transform: scale(0.95);
    background-color: #d3d9e5;
}

#cntr-menu-delete {
    background-color: var(--p-color);
    border-color: var(--accent-1);
    position: fixed;
    left: 20px;
    bottom: 20px;
    font-size: 35px;
    box-shadow: 0px 4px 6px var(--shadow-1);
    padding: 12px;
    transition: 0.3s;
}

#cntr-menu-delete:hover {
    transform: scale(1.05);
    background-color: #87a5e0;
}

#cntr-menu-delete:active {
    transform: scale(0.95);
    background-color: #d3d9e5;
}
