 #modal {
     --head-height: 50px;
     height: 100vh;
     width: 100vw;
     display: flex;
     flex-direction: column;
     position: fixed;
     top: 0;
     left: 0;
     visibility: hidden;
 }

 #modal-buttons {
     display: flex;
     gap: 20px;
     background-color: var(--p-color);
     flex-grow: 0.2;
 }

 #btn-delete {
     font-size: 24px;
     background-color: var(--button-bg-2);
     color: var(--button-text-2);
     border-style: solid;
     border-color: var(--button-text-2);
     flex-grow: 1;
 }

#btn-delete:hover{
    transform: scale(1.05);
    background-color: #ff9f9f;
}

#btn-delete:active{
    transform: scale(0.95);
    background-color: #ffcccc;
}

 #btn-save {
     font-size: 24px;
     background-color: var(--button-bg-1);
     color: var(--button-text-1);
     border-style: solid;
     border-color: var(--button-text-1);
     flex-grow: 2;
 }

#btn-save:hover{
    transform: scale(1.05);
    background-color: #9fff9f;
}

#btn-save:active{
    transform: scale(0.95);
    background-color: #c8fcc8;
}


 #note-text {
     resize: none;
     font-size: 24px;
     flex-grow: 15;
 }

 #note-name {
     font-size: 32px;
     text-align: center;
     background-color: var(--p-color);
     color: var(--text-color);
     height: var(--head-height);
 }

 #back-btn {
     position: absolute;
     font-size: 24px;
     width: 50px;
     height: var(--head-height);
 }
